<% if notice %>
  <aside id="notice"><%= notice %></aside>
<% end %>

<h1>Your FlicsPlex Catalog</h1>

<ul class="catalog">
  <% cache @movies do %>
    <% @movies.each do |movie| %>
      <% cache movie do %>
        <li>
          <%= image_tag(movie.image_url) %>
          <h2><%= movie.title %></h2>
          <p>
            <%= sanitize(movie.description) %>
          </p>
          <div class="price">
            <%= number_to_currency(movie.price) %>
            <%= button_to 'Add to Cart', line_items_path(movie_id: movie),
              remote: true %>
          </div>
        </li>
      <% end %>
    <% end %>
  <% end %>
</ul>
