<!DOCTYPE html>
<html>
<head>  
<title>FlicsPlex</title>
<%= csrf_meta_tags %>


<%= stylesheet_link_tag 'application', media: 'all',                            
                  'data-turbolinks-track': 'reload' %>  
<%= javascript_include_tag 'application',                               
                  'data-turbolinks-track': 'reload' %> 
                  
</head>


<body>   
<header class="main">
<%= image_tag 'blue-movie-logo-on-a-black-background.png', alt: 'FlicsPlex Movie Catalog' %> 

<h1><%= @page_title %></h1>

</header>

<section class="content">     
<nav class="side_nav">        
  <ul>          
  	<li><a href="/">Home</a></li>         
  	
  	<li><a href="/some">some</a></li>          
  	<li><a href="/nthing">nice</a></li>         
  	<li><a href="/nice">nice</a></li>        
  </ul>     
</nav>                       

      <main class='<%= controller.controller_name %>'>        
  <%= yield %>     
  </main>    
  </section>  
  </body>
</html>